In [42]:
#importing world bank data from the lecture datahub
!pip install wbdata

import wbdata

Requirement already satisfied: wbdata in /opt/conda/lib/python3.9/site-packages (0.3.0)
Requirement already satisfied: decorator>=4.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (5.0.9)
Requirement already satisfied: tabulate>=0.8.5 in /opt/conda/lib/python3.9/site-packages (from wbdata) (0.8.9)
Requirement already satisfied: requests>=2.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (2.26.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2.0.0)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (1.25.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2019.11.28)

In [43]:
#age range array
age_ranges = []

# Ranges top out at 80, and go in five year increments
for i in range(0,80,5):
    age_ranges.append(f"{i:02d}"+f"{i+4:02d}")

age_ranges.append("80UP")

male_variables = {"SP.POP."+age_range+".MA":"Males "+age_range for age_range in age_ranges}
female_variables = {"SP.POP."+age_range+".FE":"Females "+age_range for age_range in age_ranges}

variables = male_variables
variables.update(female_variables)

print(variables)

{'SP.POP.0004.MA': 'Males 0004', 'SP.POP.0509.MA': 'Males 0509', 'SP.POP.1014.MA': 'Males 1014', 'SP.POP.1519.MA': 'Males 1519', 'SP.POP.2024.MA': 'Males 2024', 'SP.POP.2529.MA': 'Males 2529', 'SP.POP.3034.MA': 'Males 3034', 'SP.POP.3539.MA': 'Males 3539', 'SP.POP.4044.MA': 'Males 4044', 'SP.POP.4549.MA': 'Males 4549', 'SP.POP.5054.MA': 'Males 5054', 'SP.POP.5559.MA': 'Males 5559', 'SP.POP.6064.MA': 'Males 6064', 'SP.POP.6569.MA': 'Males 6569', 'SP.POP.7074.MA': 'Males 7074', 'SP.POP.7579.MA': 'Males 7579', 'SP.POP.80UP.MA': 'Males 80UP', 'SP.POP.0004.FE': 'Females 0004', 'SP.POP.0509.FE': 'Females 0509', 'SP.POP.1014.FE': 'Females 1014', 'SP.POP.1519.FE': 'Females 1519', 'SP.POP.2024.FE': 'Females 2024', 'SP.POP.2529.FE': 'Females 2529', 'SP.POP.3034.FE': 'Females 3034', 'SP.POP.3539.FE': 'Females 3539', 'SP.POP.4044.FE': 'Females 4044', 'SP.POP.4549.FE': 'Females 4549', 'SP.POP.5054.FE': 'Females 5054', 'SP.POP.5559.FE': 'Females 5559', 'SP.POP.6064.FE': 'Females 6064', 'SP.POP.6569.FE': 'Females 6569', 'SP.POP.7074.FE': 'Females 7074', 'SP.POP.7579.FE': 'Females 7579', 'SP.POP.80UP.FE': 'Females 80UP'}

In [44]:
def fix_date_index(df):
    idx_vars = df.index.names
    new = df.reset_index()
    new.date = new.date.astype(int)
    return new.set_index(idx_vars)

In [51]:
#create a function that outputs a df by region/country and year with columns being age/sex pairs

def df_a(place, year):
    variable_labels = variables
 #   wbdata.search_countries("country")
 #   return wbdata.get_dataframe(variable_labels, country = place)
#    return df[df["date = 'year'"]]
#    x = wbdata.get_dataframe(variable_labels, country = place)
    #y = x['date'] = x.index
#    return df.query("date=='year'") 
#    return y['date'] = year
#    for i in df['date']:
#        if year != i:
#
    create_df = fix_date_index(wbdata.get_dataframe(variable_labels,country=place))
    df = create_df.reset_index(level=0)
    return df

x = df_a("CHN", 2018)
x
#for column in a:
 #   print(column)

,date,Males 0004,Males 0509,Males 1014,Males 1519,Males 2024,Males 2529,Males 3034,Males 3539,Males 4044,...,Females 3539,Females 4044,Females 4549,Females 5054,Females 5559,Females 6064,Females 6569,Females 7074,Females 7579,Females 80UP
0,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,43579315.0,45406358.0,44455278.0,43233073.0,45360992.0,50506421.0,65132462.0,50332583.0,48316998.0,...,47784307.0,46057890.0,57506962.0,59892057.0,47820085.0,37835430.0,36880767.0,23060443.0,14054499.0,15714759.0
2,2019,44287100.0,45477894.0,44225995.0,43481900.0,46103643.0,53641345.0,64354400.0,48474208.0,50226467.0,...,46068190.0,47880550.0,59344905.0,58625936.0,45536735.0,37671266.0,35601915.0,21238655.0,13466655.0,15365513.0
3,2018,44823451.0,45414763.0,43939222.0,43903664.0,46681656.0,57703943.0,61548868.0,47422849.0,52843887.0,...,45092180.0,50364754.0,60649153.0,56566217.0,43321809.0,38251215.0,33409085.0,19789576.0,13097450.0,14885636.0
4,2017,45203504.0,45224424.0,43660072.0,44455207.0,47389132.0,61843312.0,57521720.0,47188996.0,55797898.0,...,44874362.0,53178964.0,61329215.0,53975205.0,41359920.0,39134308.0,30651329.0,18672442.0,12892565.0,14277404.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1964,54866032.0,47082812.0,46068530.0,31994289.0,27005351.0,26463813.0,24430394.0,21269323.0,18643562.0,...,18571120.0,17131302.0,16353470.0,14126116.0,11677316.0,9439379.0,6328158.0,4340012.0,2258375.0,1216339.0
58,1963,51207997.0,48885493.0,43325481.0,30450999.0,26909170.0,26310021.0,23987485.0,20731150.0,18711863.0,...,18292960.0,17189822.0,16169905.0,13811604.0,11579238.0,9145374.0,6321594.0,4304576.0,2282449.0,1215990.0
59,1962,47955027.0,50059750.0,40085641.0,29336550.0,26967144.0,26053777.0,23492093.0,20221881.0,18870651.0,...,18081600.0,17268556.0,15915470.0,13499005.0,11529500.0,8823347.0,6380334.0,4229161.0,2302672.0,1149642.0
60,1961,47437144.0,50602842.0,37559616.0,28887737.0,27397364.0,26074516.0,23274553.0,20088080.0,19246650.0,...,18175344.0,17539321.0,15839190.0,13405613.0,11619261.0,8664814.0,6528003.0,4196380.0,2327728.0,1050977.0
61,1960,50620980.0,50398461.0,35879703.0,28956365.0,28081486.0,26359685.0,23315440.0,20353337.0,19740069.0,...,18548915.0,17945432.0,15944598.0,13539549.0,11788290.0,8707027.0,6710445.0,4220505.0,2330196.0,937309.0